* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Utility */

html {
    font-family: 'Open Sans', sans-serif;
}

body ul {
    list-style-type: none;
}

body a {
    text-decoration: none;
}

.flexbox {
    display: flex;
}

.container {
    width: 65%;
    margin: auto;
}

img {
    max-width: 100%;
}



/* /Utility */

/* HEADER */

/* Main Header */

.main-header {
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: .8rem;
    z-index: 999;
    
    background-color: white;
}

.header-left {
    align-items: center;
    max-width: 700px;
}

.header-left img {
    vertical-align: middle;
    max-width: 62%;
    margin-left: 1rem;
}

.header-left ul li a {
    margin-right: 1.6rem;
    color: black;
}


.header-right {
    align-items: center;
    max-width: 700px;
}

.header-right ul li a {
    margin-right: 1.6rem;
    color: black;
}

.header-right .btn {
    color: white;
    background-color: #0161ff;
    padding: .2rem .6rem;
}
/* /Main Header */

/* Banner */

.banner {
    margin-top: 80px;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    background-color: #b4d0e7;
}

.banner-container {
    width: 80%;
    flex-wrap: wrap;
    background-color: #b4d0e7;
}

.banner-container .banner-title h1 {
    width: 100%;
    font-size: 3rem;
    text-align: left;
    padding: 2rem 4rem 0 4rem;
}

.banner-content {
    width: 100%;
    text-align: left;
    padding: 2rem 4rem 0 4rem;
    flex-wrap: wrap;
}

.banner-text {
    width: 30%;
}

.banner-img {
    width: 70%;
}

.banner-text p {
    margin-bottom: 1.2rem;
}

.banner-btn a {
    color: white;
    background-color: #0161ff;
    padding: .4rem .8rem;
}

.banner-btn {
    margin-bottom: 1.5rem;
}

.banner-btn2 a {
    color: black;
}

.banner-btn2 {
    margin-bottom: 7rem;
}

.arrow-down {
    font-size: 2.5rem;
}

/* /Banner */

/* /HEADER */



/* MAIN */

/* Prices */
.prices {
    padding: 4rem 0;
    margin-bottom: 4.5rem;
}

.prices .title-and-radio h2 {
    font-size: 1.8rem;
    padding: 3rem 0;
}

.title-and-radio input {
    margin-bottom: 2.5rem;
}

.title-and-radio label {
    margin-right: 1.5rem;
}

.prices-cards-top {
    justify-content: space-between;
}

.prices-card {
    width: calc(100% / 3 - 40px);
    min-width: 170px;
    border: 1px solid grey;
    align-items: stretch;

    /* DEBUG */
    margin-bottom: 3rem;
    border: 1px solid black;
}

.prices-card-1-header, 
.prices-card-2-header, 
.prices-card-3-header, 
.prices-card-4-header{
    text-align: center;
    width: 100%;
    padding: .5rem;
}

.prices-card-1-main, 
.prices-card-2-main, 
.prices-card-3-main, 
.prices-card-4-main {
    padding: 1rem;
}

.card-title, .card-price {
    margin-bottom: 1rem;
}

.card-ul {
    margin-bottom: 4rem;
}

.card-time {
    margin-bottom: 3rem;
}

.prices-card p {
    color: gray;
}

.prices-btn a {
    color: white;
    background-color: #0161ff;
    padding: .5rem 1rem;
    display: block;
    text-align: center;
}

.prices-btn {
    margin-bottom: 3rem;
}

.card-ul li {
    margin-bottom: 1rem;
}

.hr-card {
    border-color: gray;
}

.hr-short {
    width: 20%;
    border-color: rgba(0, 0, 0, .25);
    margin: 2rem 0;
}

.prices-card-4 {
    width: 100%;

    /* DEBUG */
    border: 1px solid black;
}

.prices-card-4-main .text-card-4 {
    width: 70%;
}

.prices-card-4-main .button-card-4 {
    width: 30%;
}

.text-card-4 > .card-price {
    margin-bottom: 5rem;
    display: block;
}

.button-card-4 {
    text-align: center;
}

.button-card-4 a {
    color: white;
    background-color: #0161ff;
    padding: .4rem .8rem;
    display: block;
}
/* /Prices */

/* Img-info */
.img-info {
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 2rem 0;
    margin-bottom: 5rem;
}

.img {
    max-width: 60%;
}

.img img {
    width: 100%;
}

.text-img-info {
    width: 40%;
    padding: 4rem 2.8rem;
    text-align: left;
}

.text-img-info h3, .text-img-info p {
    margin-bottom: 1rem;
}


/* /Img-info */


/* Cards */

.cards {
    padding: 1rem 0;
}

.cards-container {
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}

.cards .container > h2 {
    padding: 3rem 0;
    font-size: 1.8rem;
}

.card {
    width: calc(100% / 3 - 15px);
    margin-bottom: 2rem;
}

.card-img img {
    height: 100%;
}

.card-text h4 {
    margin-bottom: 1.2rem;
}

.card-text p {
    font-size: .8rem;
}

/* /Cards */


/* More */
.more-container {
    padding: 3em 0;
    flex-direction: column;
}

.title-more {
    width: 55%;
}

.title-more h2 {
    padding: 1.8em 0;
    font-size: 1.8rem;
}
/* /More */


/* Squares */
.squares {
    justify-content: space-between;

    /* DEBUG */
    height: 55vh;
}

.square {
    width: calc(100% / 3);
}

.square1 {

    /* DEBUG */
    background-color: tomato;
    flex-wrap: wrap;
}

.square2 {
    padding: 2em;
    /* DEBUG */
    background-color: #f5f5f5;
    
}

.square3 {

    /* DEBUG */
    background-color: aqua;
    flex-wrap: wrap;
}

.second-square {
    width: calc(100% / 2);
    height: 50%;
}

.second-square {
    justify-content: center;
    align-items: center;
}

.brand1 {
    height: 15%;
    filter: invert(1);
}

.brand2 {
    height: 30%;
    filter: invert(1);
}

.square2 .square-title img {
    width: 50%;
}

.square2 p {
    margin-bottom: 1.5rem;
    font-size: .9rem;
}

.square2 span {
    font-size: .9rem;
}

.square1-1 {
    background-color: #a2d39b;
    border: 9px solid #d2e9cd;
}

.square1-2 {
    background-color: #62092b;
}

.square1-3 {
    background-color: #0093ce;
}

.square1-4 {
    background-color: #ff1b1c;
}

.square3-1 {
    background-color: #d50020;
}

.square3-2 {
    background-color: #b4d0e7;
}

.square3-3 {
    background-color: #0d2481;
}

.square3-4 {
    background-color: #ffd830;
}


/* /Squares */

/* Cta */
.cta {
    background-color: #b4d0e7;
}

.cta-container {
    padding: 5rem 0;
    justify-content: space-between;
}

.cta-title {
    width: 50%;
}

.cta-cta {

    /* DEBUG */
    padding-right: 6rem;
}

.cta-btn {
    color: black;
    background-color: white;
    padding: .5rem 1rem;
    border: 1px solid black;
}
/* /Cta */


/* Faq */
.faq {
    background-color: burlywood;
}

.container-faq {
    padding: 3rem 0;
}
/* /Faq */
/* /MAIN */



/* FOOTER */
footer {
    background-color: black;
    padding: 4rem;
}

.footer-up {
    justify-content: space-between;
}

.col {
    width: calc(100% / 5);

    /* DEBUG */
    background-color: aqua;
    height: 300px;
    border: 1px solid black;
}

.footer-down {
    color: white;
}
/* /FOOTER */