* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Utility */

html {
    font-family: 'Open Sans', sans-serif;
}

body ul {
    list-style-type: none;
}

body a {
    text-decoration: none;
}

.flexbox {
    display: flex;
}

.container {
    width: 65%;
    margin: auto;
}

img {
    max-width: 100%;
}


/* /Utility */

/* HEADER */

/* Main Header */

.main-header {
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: .8rem;
    z-index: 999;
    
    background-color: white;
}

.header-left {
    align-items: center;
    max-width: 700px;
}

.header-left img {
    vertical-align: middle;
    max-width: 62%;
    margin-left: 1rem;
}

.header-left ul li a {
    margin-right: 1.6rem;
    color: black;
}


.header-right {
    align-items: center;
    max-width: 700px;
}

.header-right ul li a {
    margin-right: 1.6rem;
    color: black;
}

.header-right .btn {
    color: white;
    background-color: #0161ff;
    padding: .2rem .6rem;
}
/* /Main Header */

/* Banner */

.banner {
    margin-top: 80px;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    background-color: #b4d0e7;
}

.banner-container {
    width: 70%;
    flex-wrap: wrap;
    background-color: #b4d0e7;
}

.banner-container .banner-title h1 {
    width: 100%;
    font-size: 3rem;
    text-align: left;
    padding: 2rem 4rem 0 4rem;
}

.banner-content {
    width: 100%;
    text-align: left;
    padding: 2rem 4rem 0 4rem;
    flex-wrap: wrap;
}

.banner-text {
    width: 30%;
}

.banner-img {
    width: 70%;
}

.banner-text p {
    margin-bottom: 1.2rem;
}

.banner-btn a {
    color: white;
    background-color: #0161ff;
    padding: .4rem .8rem;
}

.banner-btn {
    margin-bottom: 1.5rem;
}

.banner-btn2 a {
    color: black;
}

.banner-btn2 {
    margin-bottom: 2.5rem;
}

.arrow-down {
    font-size: 2.5rem;


    /* font-size: 2.5rem;
    position: absolute;
    bottom: 3px;
    left: 3px;
    padding: 0 4rem; */
}


/* /Banner */

/* /HEADER */



/* MAIN */

/* Prices */
.prices {
    background-color: beige;
    padding: 2rem 0;
}

.prices-cards-top {
    justify-content: space-between;
}

.prices-card {
    width: calc(100% / 3 - 40px);
    border: 1px solid grey;
    align-items: stretch;

    /* DEBUG */
    height: 900px;
    background-color: darkgreen;
    margin-bottom: 3rem;
}

.prices-card-4 {
    width: 100%;

    /* DEBUG */
    background-color: darkgreen;
    height: 300px;
}
/* /Prices */

/* Img-info */
.img-info {
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.img {
    width: 60%;
}

.img img {
    width: 100%;
}

.text-img-info {
    width: 40%;

    /* DEBUG */
    background-color: burlywood;
}
/* /Img-info */


/* Cards */

.cards {
    padding: 1rem 0;

    /* DEBUG */
    background-color:chartreuse;
}

.cards-container {
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}

.card {
    width: calc(100% / 3 - 15px);
    margin-bottom: 2rem;

    /* DEBUG */
    background-color: yellow;
}

.card-img img {
    width: 100%;
}

/* /Cards */


/* More */
.more-container {
    padding: 3em 0;
}
/* /More */


/* Squares */
.squares {
    justify-content: space-between;

    /* DEBUG */
    height: 55vh;
}

.square {
    width: calc(100% / 3);
}

.square1 {

    /* DEBUG */
    background-color: tomato;
    flex-wrap: wrap;
}

.square2 {

    /* DEBUG */
    background-color: beige;
    border: 1px solid black;
}

.square3 {

    /* DEBUG */
    background-color: aqua;
    flex-wrap: wrap;
}

.second-square {
    width: calc(100% / 2);

    /* DEBUG */
    border: 1px solid black;
}

/* DEBUG  */
.square1-1, .square1-2, .square1-3, .square1-4 {
    background-image: url(../img/university_of_florida.svg);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}

.square3-1, .square3-2, .square3-3, .square3-4 {
    background-image: url(../img/hearst_corp.svg);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}
/* /DEBUG */
/* /Squares */

/* Cta */
.cta-container {
    padding: 3rem 0;
    justify-content: space-between;
}

.cta-title {

    /* DEBUG */
    padding-left: 6rem;
}

.cta-cta {

    /* DEBUG */
    padding-right: 6rem;
}
/* /Cta */


/* Faq */
.faq {
    background-color: burlywood;
}

.container-faq {
    padding: 3rem 0;
}
/* /Faq */
/* /MAIN */



/* FOOTER */
footer {
    background-color: black;
    padding: 4rem;
}

.footer-up {
    justify-content: space-between;
}

.col {
    width: calc(100% / 5);

    /* DEBUG */
    background-color: aqua;
    height: 300px;
    border: 1px solid black;
}

.footer-down {
    color: white;
}
/* /FOOTER */